/*
 * Este archivo de recursos es parte del Ejemplo Archivos RC n° 1
 * Autor: Fernando Yurisich <fernando.yurisich@gmail.com>
 * Licenciado bajo The Code Project Open License (CPOL) 1.02
 * Ver <http://www.codeproject.com/info/cpol10.aspx>
 *
 * Visítenos en https://github.com/oohg/ejemplos
 *
 *
 * Este archivo puede descargarse desde:
 * https://github.com/oohg/ejemplos/tree/master/RCFiles
 */

// El primer ICON en orden alfabético
// se utiliza como ícono para la aplicación
APPICON   ICON      OOHG.ICO

// Images to display in IMAGE controls
DEMO1     BITMAP    DEMO.BMP
DEMO2     GIF       DEMO.GIF
DEMO3     JPG       DEMO.JPG
DEMO4     PNG       DEMO.PNG
DEMO5     TIFF      DEMO.TIF
DEMO6     ICON      DEMO.ICO

// Los identificadores (ICON, BITMAP, etc.) deben estar en mayúsculas.

// La última línea debe terminar en CR+LF

/*
 * EOF
 */
