/*
 * Este archivo de recursos es parte del Ejemplo Tree n° 1
 * Autor: Fernando Yurisich <fernando.yurisich@gmail.com>
 * Licenciado bajo The Code Project Open License (CPOL) 1.02
 * Ver <http://www.codeproject.com/info/cpol10.aspx>
 *
 * Visítenos en https://github.com/oohg/ejemplos
 *
 *
 * Este archivo puede descargarse desde:
 * https://github.com/oohg/ejemplos/tree/master/RCFiles
 */

WATCH    BITMAP  WATCH.BMP
WINDOW   BITMAP  WINDOW.BMP
LED_OFF  BITMAP  LED_OFF.BMP
LED_ON   BITMAP  LED_ON.BMP

/*
 * EOF
 */
